
 

<div class="row">
<div class="card-group">
    <div class="card first">
        <div class="card-body">
            <!-- <h5 class="card-title">Card title</h5> -->
            <p class="card-text code-velocity">12 Days Code Velocity<br/> (Goal < 2 Days)</p>
            <!-- <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p> -->
          </div>
    </div>
    <div class="card rest">
        <div class="card-body">
            <!-- <h5 class="card-title">Card title</h5> -->
            <p class="card-text"><span>90 Hours <br/></span><span>LKG Age</span></p>
            <!-- <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p> -->
          </div>
    </div>
    <div class="card rest">
      <div class="card-body">
        <!-- <h5 class="card-title">Card title</h5> -->
        <p class="card-text">8 Hours<br/> MTTD</p>
        <!-- <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p> -->
      </div>
    </div>
    <div class="card rest">
        <div class="card-body">
          <!-- <h5 class="card-title">Card title</h5> -->
          <p class="card-text">23 Hours<br/> MTTR</p>
          <!-- <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p> -->
        </div>
      </div>
  </div>
</div>

<!-- <div id="divChart" style="margin-top: 20px;">
    <canvas id="myChart" width="400" height="400"></canvas>
</div> -->
<p>
</p>
<a href="  https://msit.powerbi.com/reportEmbed?reportId=50aa3304-b96e-4fb0-9b85-44eff5bc2e1e&autoAuth=true&ctid=72f988bf-86f1-41af-91ab-2d7cd011db47&config=eyJjbHVzdGVyVXJsIjoiaHR0cHM6Ly9kZi1tc2l0LXNjdXMtcmVkaXJlY3QuYW5hbHlzaXMud2luZG93cy5uZXQvIn0%3D
">link text</a>
<!-- <iframe width="800" height="600" src="https://msit.powerbi.com/reportEmbed?reportId=50aa3304-b96e-4fb0-9b85-44eff5bc2e1e&autoAuth=true&ctid=72f988bf-86f1-41af-91ab-2d7cd011db47&config=eyJjbHVzdGVyVXJsIjoiaHR0cHM6Ly9kZi1tc2l0LXNjdXMtcmVkaXJlY3QuYW5hbHlzaXMud2luZG93cy5uZXQvIn0%3D
" frameborder="0" allowfullscreen="true">

</iframe> -->
<iframe title="first - Page 1" width="1140" height="541.25" src="https://msit.powerbi.com/reportEmbed?reportId=50aa3304-b96e-4fb0-9b85-44eff5bc2e1e&autoAuth=true&ctid=72f988bf-86f1-41af-91ab-2d7cd011db47&config=eyJjbHVzdGVyVXJsIjoiaHR0cHM6Ly9kZi1tc2l0LXNjdXMtcmVkaXJlY3QuYW5hbHlzaXMud2luZG93cy5uZXQvIn0%3D" frameborder="0" allowFullScreen="true"></iframe>